/* ---- CSS reset ---- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  }

/* ---- typography ---- */

@font-face {
  font-family: 'turtlesregular';
  src: url('fonts/turtles-webfont.woff2') format('woff2'),
       url('fonts/turtles-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ---SPLASH SCREEN---- */

body {
  background-image: url("./img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'turtlesregular', sans-serif;
  color: #6d2164e0;
  text-align: center;
  font-size: 85px;
  text-shadow: 2px 2px #995794;
  margin: 40px;
}

.instructions {
  font-size: 20px;
  color: #bc559a;
  text-shadow: 0.5px 0.5px #995794;
  font-family: 'Chelsea Market';
  margin-bottom: 20px;
}

button {
  background-color: #f6b343;
  width: 150px;
  padding: 15px;
  border-radius: 30px;
  border: 2px solid #90348a;
  font-family: 'turtlesregular';
  font-size: 18px;
  margin-top: 20px;
  color: #90348a;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

button:hover {
  transform: scale(1.5);
}

/* ---GAME SCREEN---- */

.game-container {
  max-width: 72%;
  max-height: 92%;
  margin: 0 auto;
}

.canvas-container {
  background-size: cover;
  flex: 1;
  width: 100%;
  background-position: center;
}

#scoreboard {
  padding-top: 12px;
  width: 500px;
  display: flex;
  align-content: space-between;
  font-family: 'turtlesregular', sans-serif;
  font-size: 18px;
  color: #6d2164e0;
}
  
.lives, .score {
    flex: 1;
}

/* ---GAME OVER SCREEN---- */

#gameover {
  font-family: 'turtlesregular';
  color: rgba(78, 0, 109, 0.9);
  text-align: center;
  font-size: 60px;
}

#finalscore {
  font-size: 15px;
  font-family: 'Chelsea Market';
  color: #bc559a;
}

#final-sentence {
    font-size: 20px;
    color: #bc559a;
    text-shadow: 0.5px 0.5px #995794;
    font-family: 'Chelsea Market';
  }

h2 {
  margin: 0px;
}

.adopt {
  width: 250px;
}
 .play-again {
  width: 250px;
  background-color: #90348a;
  color: #f6b343;
  border: 2px solid #f6b343;;
}
.adopt:hover, .play-again:hover {
  transform: scale(1.5);
}